.main-content {
  margin-top: 60px;
  padding: 16px;
  padding-bottom: 50px;
  min-height: calc(100vh - 60px);
  background: #f4f6f9;
  transition: margin-left .3s ease;
}


@media (min-width: 769px) {
  .main-content {
    padding: 24px;
  }

  .main-content.sidebar-open {
    margin-left: 280px;
  }
}


#app {
  min-height: 100vh;
  background: #f4f6f9;
}

/*tITOLO E SOTTOTILO HEADER*/
.page-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.header-text h1 {
  margin: 0;
  font-size: 1.9rem;
  color: #1e1548;
  font-weight: 700;
}

.header-text p {
  margin-top: 6px;
  color: #666;
  font-size: 0.95rem;
}

.header-text{
  display:flow-root;
  margin-bottom: 10pt;
}

.h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}


/*BUTTONS */
.btn-primary {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #1e1548;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 18px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.secondary-button{
  align-items: center;
  background-color: #1e1548;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 7pt;
  font-size: 9pt;
  font-weight:bold;
  margin: 5pt; 
  margin-right: 0;
}

.btn-primary:hover ,.secondary-button:hover {
  background-color: #7a768d;
  transform: translateY(-1px);
  box-shadow: 0 6px 18px rgba(30,21,72,0.35);
}

.btn-red {
  background: #d62828;
  
}

.btn-green{
  background-color: rgb(33, 143, 33);
}

/*Bottone piccolo delete usato nei list items*/
.delete-button {
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 14px;
  background: #fef2f2;
  color: #dc2626;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  transition: all 0.2s ease;
}

.delete-button i {
  font-size: 16px;
}

.delete-button:hover {
  background: #fee2e2;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(220, 38, 38, 0.15);
}

.delete-button:active {
  transform: scale(0.96);
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  margin-top: 32px;
  flex-wrap: wrap;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 0.85rem;
  margin-right: 10pt;
}



/*Badge attivo/inattivo o completo da usare per schede e piani nutrizionali*/
.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 600;
}

.status-active {
  background-color: #e6f7ed;
  color: #1f9254;
  border: 1px solid #a3e2bd;
}

.status-inactive {
  background-color: #f5f5f7;
  color: #6c757d;
  border: 1px solid #dee2e6;
}




*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: 'Century Gothic', 'Century Gothic', Futura, sans-serif;
}